.collaborator-register {
    display: flex;
    justify-content: center;

    margin: 80px 0;
}

    .collaborator__form {
        background-color: #F2F2F2;
        
        max-width: 80%;

        border-radius: 20px;
        box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.2);
        padding: 26px 64px;
    }