.collaborator {
    width: 280px;
}

    .collaborator__header {
        background-color: #F0F0F0;

        border-radius: 10px 10px 0px 0px;
    }

        .collaborator__header__image {
            width: 100px;

            position: relative;
            bottom: -50px;
            
            border-radius: 50%;
        }

    .collaborator__footer {
        background: #FFFFFF;

        border-radius: 0px 0px 10px 10px;
        padding-top: 90px;
        padding-bottom: 40px;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
    }

        .collaborator__footer__h4 {
            margin-bottom: 8px;

            color: #6278F7;
            font-size: 18px;
            font-weight: bold;
            line-height: 22px;
        }

        .collaborator__footer__h5 {
            padding: 0 16px;
            
            color: #212121;
            font-size: 18px;
            line-height: 22px;
        }